input,
textarea {
  width: 300px;
  height: 75px;
  margin: 10px;
  padding: 5px;
  font-size: 24px;
  border: solid 2px plum;
  border-radius: 8px;
}

.textarea {
  height: 294px;
  width: 300px;
}

.App {
  display: flex;
}

.freeInput {
  display: flex;
  flex-direction: column;
}
