.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.darkTheme {
  border: none;
  background-color: #1474ff;
  color: #fff;
  border-radius: 32px;
  height: 30px;
  width: 64px;
}

.darkTheme.light {
  position: relative;
  left: 2%;
  top: 10px;
}

.darkTheme.dark {
  color: #000;
  position: relative;
  left: 2%;
  top: 10px;
}

.App.dark {
  background-color: #000;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.firstBlock {
  width: 1519px;
  height: 575px;
}

.accountLogin.dark {
  background-color: red;
}

.wrapperLogin.registlight .login {
  font-size: 28px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  color: rgb(140, 140, 140);
  border-right: 4px solid black;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
}

.d-none {
  display: none !important;
}

.toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.toggle-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.toggle-check,
.toggle-uncheck {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.toggle-container {
  width: 64px;
  height: 30px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  transition: all 0.2s ease;
}

.toggle-circle {
  position: absolute;
  top: 4px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all 1.25s ease;
}

.darkTheme.dark .toggle-circle {
  left: 40px;
}
