.App {
  text-align: center;
  position: relative;
}

.App.light {
  text-align: center;
  position: relative;
  min-height: 100vh;
  margin-top: 5px;
}

.App.dark {
  background-color: #000;
  text-align: center;
  position: relative;
  height: 100vh;
}

.darkTheme {
  background-color: #1474ff;
  color: #fff;
  border-radius: 32px;
  height: 30px;
  width: 64px;
}

.darkTheme.light {
  left: 94%;
  top: -40px;
  z-index: 2;
}

.darkTheme.dark {
  color: #000;
  left: 94%;
  top: -40px;
  z-index: 2;
}

.d-none {
  display: none !important;
}

.toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.toggle-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.toggle-check,
.toggle-uncheck {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.toggle-container {
  width: 64px;
  height: 30px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  transition: all 0.2s ease;
}

.toggle-circle {
  position: absolute;
  top: 4px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all 1.25s ease;
}

.darkTheme.dark .toggle-circle {
  left: 40px;
}

.btnThemeWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
